/* Style de base du catalogue */
.catalog {
    text-align: center;
    padding: 2rem;
    background-color: rgba(70, 105, 159, 0.1);
  }
  
  .catalog h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  /* Grille pour organiser les items en 2 lignes et 3 colonnes */
  .catalog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Style de chaque item dans la grille */
  .catalog-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 40vh; /* Hauteur réduite */
    max-width:70%;
    margin:0 auto;
  }
  
  .catalog-item:hover {
    transform: scale(1.05);
  }
  
  /* Image de l'élément */
  .catalog-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Overlay pour le texte */
  .catalog-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(70, 105, 159, 0.5);
    padding: 1rem;
    text-align: center;
  }
  
  .catalog-link {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  .catalog-link:hover {
    color: #ddd;
  }
  
  /* Responsive pour écrans plus petits */
  @media (max-width: 768px) {
    .catalog-grid {
      grid-template-columns: 1fr; /* 1 colonne sur mobile */
    }
  }
  
  @media (max-width: 1024px) {
    .catalog-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur tablette */
    }
  }
  