
.subsciption-container {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    padding: 5rem;
    text-align: justify;
    margin:0 auto;
  align-items: flex-start;
  }
  
  .subscription-page{
    gap: 2rem;
    padding: 4rem;
    background-color: #ffffff;
    height: 80vh;
    text-align: center;
  }
  .subscription-page h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .benefits-section {
    flex: 1;
  }
  
  .benefits-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .benefits-section ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    color: #555;
  }

  .benefits-section,
.subscription-details {
  background-color: #f8f8f8;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
  .benefits-section h3,
.subscription-details h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
  
  .subscription-details p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: left;
  }
  .benefits-section ul,
.subscription-details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-bottom: 1.5rem;
}

.benefits-section li,
.subscription-details li {
  margin-bottom: 0.5rem;
}

.subscription-button {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.2rem;
  transition: background-color 0.3s;
  display: inline-block;
}

.subscription-button :hover {
  background-color: #506bbf;
}
  



/* Styles réactifs */
@media (max-width: 768px) {
  .subsciption-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .benefits-section,
  .subscription-details {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .subscription-page h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .subscription-page h2 {
    font-size: 1.5rem;
  }

  .benefits-section h3,
  .subscription-details h3 {
    font-size: 1.3rem;
  }

  .subscription-details p {
    font-size: 1.1rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }
}
